lib/resources/test_wa_reply.json
{
  "name": "test_wa_reply",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "54b0f1c3-5623-49d1-8e39-36f6038c695f",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "e989a578-1fe2-47a7-b6c0-hyevfc882-uhf9-ur65a",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a241644d-342a-440e-867c-07b130bb1d61",
      "name": "If Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        -320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Details').item.json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3e6a2f1b-f496-43cb-8694-36c34e8afcdc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a4be1210-afc3-4b2c-944a-818e092a6db7",
                    "leftValue": "={{ $('Details').item.json.message_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8f040db-f990-4396-853f-ae592eeea0ef",
                    "leftValue": "={{ $('Details').item.json.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "68e56481-b6e1-4f63-bd4d-9bc97e259c9d",
                    "leftValue": "={{ $('Details').item.json.message_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c8a20fb-7e29-4307-882a-d497c1c30daf",
                    "leftValue": "={{ $('Details').item.json.message_type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        704,
        160
      ],
      "id": "4aa71b21-22a6-407b-a876-eb6ac796fa45",
      "name": "Switch1"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "0f9d6d7c-269b-453e-a506-acb64b3ddbc0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        192
      ],
      "id": "16003f96-7b8f-4bbd-8fcc-3ce5aaf24da7",
      "name": "Webhook1",
      "webhookId": "0f9d6d7c-269b-453e-a506-acb64b3ddbc0"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2096,
        -16
      ],
      "id": "977dd4b8-24ae-4cef-b64d-f08be8b634a6",
      "name": "Wait1",
      "webhookId": "4865a2ad-5d0c-4d4c-9baf-670bfeb553e3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI WhatsApp assistant for **StoneAge**, a trusted IT and TECH services provider.  \nYour role is to chat with customers in a **friendly, professional, and concise WhatsApp style** (1–3 lines per reply).  \n\n### Your Responsibilities:\n1. **Answer FAQs** about Stone Age (services, timings, location, contact info).  \n2. **Assist users/customers** with basic agricultural advice when asked.  \n3. **Guide next steps** clearly (e.g., “Would you like me to connect you with our sales team?”).  \n4. If you **don’t understand a query**, reply politely and suggest contacting our support team by leaving a mail to support@myqrmart.com .  \n\n### Guidelines:\n- Keep replies short and Whats App-friendly.  \n- Always be polite, professional, and supportive.  \n- If a user asks about something outside our services, reply:  \n  “I specialize to assist with Stone Age services. Could you please clarify your question?”  \n- End important replies with a helpful follow-up question.\n- Users May Talk in Telugu-English Cobain . please understand and answer accordingly.\n\n### Example Style:\nUser: “What are your working hours?”  \nAssistant: “We’re open Mon–Sat, 9 AM to 6 PM 🧑‍💻. Would you like me to share our location📍?”  \n\nUser: “What all services do you have?”\nAssistant: “We are Specialized in building Mobile(Android, IOS), Web, Windows, Linux, Mac OS applications. AI Agents, Own Servers, own Software solutions, machinery, robotics and many more”  \n\nBelow is the message sent to you: \n{{ $json.text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2384,
        -32
      ],
      "id": "7027b398-1b97-4731-a11f-bd3d0098dac0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2592,
        272
      ],
      "id": "d59fd734-f47b-4936-940b-eae8798ab2c9",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "nLGQAOl08DpYMkkz",
          "name": "Ollama"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Details1').item.json.image_url || $('Details1').item.json.video_url || $('Details1').item.json.audio_url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        544
      ],
      "id": "969831d0-c4ee-4fdc-bea0-3f32dc3744d9",
      "name": "HTTP Request2",
      "credentials": {
        "whatsAppApi": {
          "id": "RNOrThiiQoyWFtzU",
          "name": "9492461455"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        4160,
        -128
      ],
      "id": "1cf6fc00-2c6e-4bb7-bd4b-0f6f0bb056a3",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/670154132844000/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAASQftu1Ra8BQkM6tLy5dLMxM9PZCgWwKtKqOHLhrZCkML7Sb9CIrxUoBEymHZAOhTbyeMDrfZAT4CPquloI0a36UpPzTxRogA5ZBi5G6pr7RZAWTprJpejTc74QrPN8gnzYdkDcZBZAfFvLZBm2cfAzUZA57SmABrDhGYvRGJ4aPRP4TcKYSpMjGQH11mcAo0qQ6U"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n        \"messaging_product\":\"whatsapp\",\n\"recipient_type\": \"individual\",\n\"to\": \"{{ $('Webhook1').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}\",\n\"type\": \"text\",\n\"text\": {\n  \"preview_url\": false,\n  \"body\": {{ $json.output.toJsonString() }}\n        }\n      } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4336,
        -288
      ],
      "id": "bcf789d7-12fb-408e-84c7-c7f7ba1281ec",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3920,
        752
      ],
      "id": "5369c259-e500-4b49-891f-6a1073b2ffe0",
      "name": "Wait2",
      "webhookId": "c2fc7d7c-2ca0-4429-8e5e-d3815133504c",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        176,
        -240
      ],
      "id": "90cbec11-c489-453f-8d12-5a6a5aed67a1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        176,
        -384
      ],
      "id": "190b6e4a-14cf-4fa9-a690-401fb069a1ad",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3408,
        784
      ],
      "id": "1cd013e2-772b-4db6-a080-a1f1fcc743ce",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json[\"from\"]}}",
        "tableName": "PrakashAgro_WhatsApp_chat_histories",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3568,
        1072
      ],
      "id": "fd766225-4095-4f8d-a0eb-a1b80fca4115",
      "name": "Postgres Chat Memory1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// SIMPLEST - Just pass through the binary data\nconsole.log('Binary data received from Google Drive:');\nconsole.log('File:', $binary.data.fileName);\nconsole.log('Size:', $binary.data.size);\nconsole.log('Type:', $binary.data.mimeType);\n// n8n already formats it correctly - just return as is\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        560
      ],
      "id": "54d62afb-fd77-4f0f-929b-ffb057103b6e",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.whats_app_message_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -16,
        224
      ],
      "id": "48e06f3f-ba0c-4151-ade4-c1695843dfac",
      "name": "Remove Duplicates",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('G-UserID1').item.json.phone_number_id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAASQftu1Ra8BQkM6tLy5dLMxM9PZCgWwKtKqOHLhrZCkML7Sb9CIrxUoBEymHZAOhTbyeMDrfZAT4CPquloI0a36UpPzTxRogA5ZBi5G6pr7RZAWTprJpejTc74QrPN8gnzYdkDcZBZAfFvLZBm2cfAzUZA57SmABrDhGYvRGJ4aPRP4TcKYSpMjGQH11mcAo0qQ6U"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n        \"messaging_product\":\"whatsapp\",\n\"recipient_type\": \"individual\",\n\"to\": \"{{ $('Webhook1').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}\",\n\"type\": \"text\",\n\"text\": {\n  \"preview_url\": true,\n  \"body\": \"{{ $('Create a row2').item.json.content }}\"\n        }\n      } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4224,
        512
      ],
      "id": "b1e142a5-92a5-4453-82ec-4054a03000cd",
      "name": "HTTP Request3",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        4048,
        576
      ],
      "id": "4ab24584-e4d7-4232-8c47-298cbc42a932",
      "name": "Respond to Webhook3",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uploadservice.myqrmart.com/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "parameterType",
              "value": "formBinaryData"
            },
            {
              "name": "name",
              "value": "file"
            },
            {
              "name": "inputDataFieldName",
              "value": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        576
      ],
      "id": "ed62b62f-2cd2-422d-b4df-0a509eb8dc4b",
      "name": "Upload"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07488d96-ef94-49c6-8535-a6a79ebba773",
              "name": "whats_app_message_id",
              "value": "={{ ($json.body.entry[0].changes[0].value.messages[0].id).toJsonString() || \"\"}}",
              "type": "string"
            },
            {
              "id": "b1fda891-f12d-4afb-a443-8e08cc76c50c",
              "name": "sender_number",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].wa_id || \"\"}}",
              "type": "number"
            },
            {
              "id": "c9fcba56-f12d-497d-b073-a2ae59f812d8",
              "name": "sender_name",
              "value": "={{ ($json.body.entry[0].changes[0].value.contacts[0].profile.name) || \"\"}}",
              "type": "string"
            },
            {
              "id": "4d0d55c7-e911-4971-869e-a20afd6c996a",
              "name": "receiver_number",
              "value": "={{ $json.body.entry[0].changes[0].value.metadata.display_phone_number || \"\"}}",
              "type": "number"
            },
            {
              "id": "85fa0b65-30d6-47b2-a258-c6d6be8bb468",
              "name": "receiver_mobile_id",
              "value": "={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id || \"\"}}",
              "type": "number"
            },
            {
              "id": "eb27e463-6d73-469d-864f-75f6eb90aaa0",
              "name": "message_type",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].type || \"\" }}",
              "type": "string"
            },
            {
              "id": "73a23bec-5126-4cfb-aa1c-115931a931e1",
              "name": "message",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body || \"\"}}",
              "type": "string"
            },
            {
              "id": "74673395-2d82-43da-907e-acfb6e3b127e",
              "name": "received_webhook",
              "value": "={{ JSON.stringify($json.webhookUrl.split('/').pop()) }}",
              "type": "string"
            },
            {
              "id": "da622d47-1df0-4abe-b80a-57139a1ead28",
              "name": "time_stamp",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].timestamp }}",
              "type": "number"
            },
            {
              "id": "37aa1f1e-0041-455f-a05b-c1ac9a9d7a26",
              "name": "image_id",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].image.id }}",
              "type": "string"
            },
            {
              "id": "19ba8fad-0905-4905-a5e3-078bada209a6",
              "name": "image_url",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].image.url }}",
              "type": "string"
            },
            {
              "id": "15b1de53-20e9-4be1-97e8-0dd99f4a4e28",
              "name": "video_url",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].video.url }}",
              "type": "string"
            },
            {
              "id": "58a1a3dc-d330-43a3-bfa8-6f18c674e5c8",
              "name": "audio_url",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].audio.url }}",
              "type": "string"
            },
            {
              "id": "680e4f96-2ec5-4eb3-9550-4916b1684906",
              "name": "document_url",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        224
      ],
      "id": "6037bd65-b911-49d0-9ae9-3c2febda261f",
      "name": "Details"
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.whats_app_message_id }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $json.message_type }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "incoming"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "status_timestamp",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1600,
        -128
      ],
      "id": "2cdea368-224a-45ce-a762-27405da183ab",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "NXAdeQYqKCfu2rdK",
          "name": "Base"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "811ed628-b408-493e-adfc-f4e58dcd9d19",
              "leftValue": "={{ $('G-Conversations1').item.json.ai_agent_id }}",
              "rightValue": "Disabled",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1840,
        16
      ],
      "id": "07abff29-e719-431e-8032-cdddf211ed4e",
      "name": "Filter"
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $('Wait1').item.json.conversation_id }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "ai_outgoing"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $('Wait1').item.json.message_id }}.ai_response"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2736,
        -32
      ],
      "id": "e196841f-4351-46f3-bdff-ab6b0ad82f56",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "NXAdeQYqKCfu2rdK",
          "name": "Base"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "36bae0b2-5a78-431d-87b1-e9022b3e6020"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df30b77c-3793-4b98-83fb-46fd0ffef581",
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        256,
        32
      ],
      "id": "ff51deb7-555d-4912-abd6-48fe887bc681",
      "name": "Switch2"
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('G-UserID1').item.json.user_id }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Details').item.json.sender_number }}"
            },
            {
              "fieldId": "contact_name",
              "fieldValue": "={{ $('Details').item.json.sender_name }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "last_message_time",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        304
      ],
      "id": "7e08db86-2a1e-45a4-9348-dd128ddad84f",
      "name": "C-Conversations1",
      "credentials": {
        "supabaseApi": {
          "id": "NXAdeQYqKCfu2rdK",
          "name": "Base"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "conversations",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "phone_number",
              "keyValue": "={{ $('Details').item.json.sender_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        112,
        32
      ],
      "id": "ea8ea627-2fbe-4ccd-b52e-1823a2d49ea6",
      "name": "G-Conversations1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "NXAdeQYqKCfu2rdK",
          "name": "Base"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "user_api_settings",
        "filters": {
          "conditions": [
            {
              "keyName": "mobile_number",
              "keyValue": "={{ $json.receiver_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        32
      ],
      "id": "95a3fd53-7c87-44b7-9837-fec7f4e688f3",
      "name": "G-UserID1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "NXAdeQYqKCfu2rdK",
          "name": "Base"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07488d96-ef94-49c6-8535-a6a79ebba773",
              "name": "whats_app_message_id",
              "value": "={{ $('Details').item.json.whats_app_message_id }}",
              "type": "string"
            },
            {
              "id": "b1fda891-f12d-4afb-a443-8e08cc76c50c",
              "name": "sender_number",
              "value": "={{ $('Details').item.json.sender_number }}",
              "type": "number"
            },
            {
              "id": "c9fcba56-f12d-497d-b073-a2ae59f812d8",
              "name": "sender_name",
              "value": "={{ $('Details').item.json.sender_name }}",
              "type": "string"
            },
            {
              "id": "4d0d55c7-e911-4971-869e-a20afd6c996a",
              "name": "receiver_number",
              "value": "={{ $('Details').item.json.receiver_number }}",
              "type": "number"
            },
            {
              "id": "85fa0b65-30d6-47b2-a258-c6d6be8bb468",
              "name": "receiver_mobile_id",
              "value": "={{ $('Details').item.json.receiver_mobile_id }}",
              "type": "number"
            },
            {
              "id": "eb27e463-6d73-469d-864f-75f6eb90aaa0",
              "name": "message_type",
              "value": "={{ $('Details').item.json.message_type }}",
              "type": "string"
            },
            {
              "id": "73a23bec-5126-4cfb-aa1c-115931a931e1",
              "name": "message",
              "value": "={{ $('Details').item.json.message }}",
              "type": "string"
            },
            {
              "id": "74673395-2d82-43da-907e-acfb6e3b127e",
              "name": "received_webhook",
              "value": "={{ $('Webhook1').item.json.webhookUrl }}",
              "type": "string"
            },
            {
              "id": "908c88de-98bd-4482-9d7e-e4a1d9f9a7ea",
              "name": "whatsapp_access_token",
              "value": "={{ $('G-UserID1').item.json.whatsapp_access_token }}",
              "type": "string"
            },
            {
              "id": "51ec3f63-6f09-4a35-843b-c7d521e54b9e",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "3c9f2daa-d038-4a22-9627-9e8589652394",
              "name": "conversation_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "4905cab1-1e4a-4cc3-8e4e-b7ad15ab68a9",
              "name": "time_stamp",
              "value": "={{ $('Webhook1').item.json.body.entry[0].changes[0].value.messages[0].timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        48
      ],
      "id": "d7b8bf06-d622-41b4-8e19-2894714d38df",
      "name": "Details2"
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $('Switch1').item.json.id }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $('Details').item.json.whats_app_message_id }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.file.mimetype }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Details').item.json.message_type }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "incoming"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "status_timestamp",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "media_info",
              "fieldValue": "={{ $json.file.browserUrl }}"
            },
            {
              "fieldId": "raw_data",
              "fieldValue": "={{ $('Details').item.json.image_url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2064,
        592
      ],
      "id": "5c2ccbac-fc30-4d84-908c-6474b32774be",
      "name": "Create a row2",
      "credentials": {
        "supabaseApi": {
          "id": "NXAdeQYqKCfu2rdK",
          "name": "Base"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/670154132844000/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer EAASQftu1Ra8BQkM6tLy5dLMxM9PZCgWwKtKqOHLhrZCkML7Sb9CIrxUoBEymHZAOhTbyeMDrfZAT4CPquloI0a36UpPzTxRogA5ZBi5G6pr7RZAWTprJpejTc74QrPN8gnzYdkDcZBZAfFvLZBm2cfAzUZA57SmABrDhGYvRGJ4aPRP4TcKYSpMjGQH11mcAo0qQ6U"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"916303744576\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"https://uploadservice.myqrmart.com/u/e58fb8a6-ac35-482b-abad-494746de7260.jpg\", \n    \"caption\": \"YoYo Honey Singh\"\n  }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3136,
        -368
      ],
      "id": "9a2f6f2b-64c4-4e30-b26a-0f929f7d5dca",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conversations",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            },
            {
              "fieldId": "last_message_time",
              "fieldValue": "={{ $now.setZone('Europe/London').toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        16
      ],
      "id": "a00d022d-07de-4103-a112-4e95d8ae26d4",
      "name": "U-Conversations",
      "credentials": {
        "supabaseApi": {
          "id": "NXAdeQYqKCfu2rdK",
          "name": "Base"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07488d96-ef94-49c6-8535-a6a79ebba773",
              "name": "whats_app_message_id",
              "value": "={{ $('Details').item.json.whats_app_message_id }}",
              "type": "string"
            },
            {
              "id": "d5de2598-9de6-457f-8d8d-71b6b5698a21",
              "name": "sender_number",
              "value": "={{ $('Details').item.json.sender_number }}",
              "type": "number"
            },
            {
              "id": "93dea610-408f-415f-93c5-94a7eb1001d6",
              "name": "sender_name",
              "value": "={{ $('Details').item.json.sender_name }}",
              "type": "string"
            },
            {
              "id": "3a70e77e-af5a-43df-98e0-3de85a596a9e",
              "name": "receiver_number",
              "value": "={{ $('Details').item.json.receiver_number }}",
              "type": "number"
            },
            {
              "id": "8b4565f4-d026-4e28-913b-7b8b6ec767ea",
              "name": "receiver_mobile_id",
              "value": "={{ $('Details').item.json.receiver_mobile_id }}",
              "type": "number"
            },
            {
              "id": "45e06c23-9ace-4b34-8eb9-daa04e48a180",
              "name": "message_type",
              "value": "={{ $('Details').item.json.message_type }}",
              "type": "string"
            },
            {
              "id": "5c7e4751-9aca-4328-bed8-c8095d23c583",
              "name": "message",
              "value": "={{ $('Details').item.json.message }}",
              "type": "string"
            },
            {
              "id": "995a1b90-82bf-4734-a5a5-656a57a779ed",
              "name": "time_stamp",
              "value": "={{ $('Details').item.json.time_stamp }}",
              "type": "number"
            },
            {
              "id": "1033432d-b651-4b0e-af8d-45ea9c3df6be",
              "name": "image_id",
              "value": "={{ $('Details').item.json.image_id }}",
              "type": "string"
            },
            {
              "id": "9766456a-640d-48f8-9815-199ffab951a6",
              "name": "image_url",
              "value": "={{ $('Details').item.json.image_url }}",
              "type": "string"
            },
            {
              "id": "d68ccb23-02e6-4ddb-929f-ad40286a46aa",
              "name": "video_url",
              "value": "={{ $('Details').item.json.video_url }}",
              "type": "string"
            },
            {
              "id": "50b32a3f-8b5d-4b1d-b7dd-a5c2c2e92fb8",
              "name": "audio_url",
              "value": "={{ $('Details').item.json.audio_url }}",
              "type": "string"
            },
            {
              "id": "f29e56c4-6fdc-4983-8af6-00eac290ecfb",
              "name": "document_url",
              "value": "={{ $('Details').item.json.document_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        352
      ],
      "id": "e0f63103-ccd7-4216-a3e1-d39057d2a0bf",
      "name": "Details1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conversations",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Switch1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_message",
              "fieldValue": "=📷 Photo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2272,
        592
      ],
      "id": "c09e8860-9487-47f1-a118-22e104333477",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "NXAdeQYqKCfu2rdK",
          "name": "Base"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Details2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Details1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Details1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Details1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "G-UserID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Create a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Details": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "U-Conversations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "C-Conversations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "G-Conversations1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "G-UserID1": {
      "main": [
        [
          {
            "node": "G-Conversations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C-Conversations1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Details2": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row2": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "U-Conversations": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Details1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4f36a4c-0400-46e6-a9c3-5b4a21f98f87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "166a35e558299f2fb26f3d9481588848ae1e3ed44ed88dfa8e5f21ddca9941f0"
  },
  "id": "cBcKQhbRGRCpfkp8",
  "tags": []
}